<div id="page">
    <div id="board-header">
        <app-board-header title={{boardName}}></app-board-header>
    </div>
    <div id="input-form">
        <app-input-form></app-input-form>
    </div>
    <hr>

    <div id="quick-navigation">
        <app-quick-navigation></app-quick-navigation>
    </div>
    <hr>

    <div id="board-area">
        << Content>>
            <!--
            Here the threads start
        -->
    </div>
    <hr>

    <div id="pagination">
        page [1/2/3/...]
        <!--
            Pagination
        -->
    </div>
</div>