/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";

html {
  padding: 1rem;
  background-image: linear-gradient(#e4d2af93 1px, transparent 1px),
    linear-gradient(to right, #e4d2af93 1px, #FEECC8 1px);
  background-size: 1.5rem 1.5rem;
}
