div {
  color: white;
  background-color: rgba(52, 52, 52, 0.8);
  padding: 1rem;
  border: 3px solid rgba(52, 52, 52, 0.8);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

a {
  color: rgb(255, 241, 181);
}

#username {
  float: right;
}