#page {
  max-width: 60rem;
  margin: auto;
}

#main-content {
  color: white;
  background-color: #d0c3aa;
  margin-top: 0.5rem;
  min-height: 40rem;
  padding: 1rem;
  border: 3px solid rgba(52, 52, 52, 0.8);
}

#footer {
  margin-top: 0.5rem;
}
